n8n/workflows/ironbody_automation_router.json
{
  "name": "Iron Body - Automation Router",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "description": "Router de notificaciones proactivas. Webhook recibe un evento emitido por Laravel, un Code node lo mapea a un mensaje seguro y llama a /api/internal/automation/notify-member (Bearer interno, sin crypto). Parametrizado con $env.LARAVEL_BASE_URL y $env.AUTOMATION_INTERNAL_SECRET. No accede a PostgreSQL, no llama OpenAI, no es F3 marketing. Sin secretos."
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iron-body-automation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        220,
        300
      ],
      "webhookId": "iron-body-automation"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Iron Body - Automation Router (produccion)\n// Recibe un evento proactivo emitido por Laravel y lo convierte en una\n// notificacion segura llamando a /api/internal/automation/notify-member.\n//\n// NO accede a PostgreSQL. NO construye contexto IA. NO llama a OpenAI.\n// NO maneja el chat de Coach IA. Solo enruta evento -> mensaje -> Laravel.\n//\n// Variables de entorno requeridas en n8n:\n//   - LARAVEL_BASE_URL            (https://api.ironbodyneiva.cloud)\n//   - AUTOMATION_INTERNAL_SECRET  (mismo valor que el .env de Laravel)\n// Si los Code nodes no leen $env, ajustar N8N_BLOCK_ENV_ACCESS_IN_NODE=false.\n\nconst items = $input.all();\nconst item = items[0] || { json: {} };\nconst j = item.json || {};\nconst headers = j.headers || {};\nconst body = j.body || j;\nconst data = body.data || {};\n\n// Tipo de evento: header tiene prioridad, luego el cuerpo (envelope de Laravel).\nconst eventType =\n  headers['x-ironbody-event'] ||\n  body.event_type ||\n  (body.event && body.event.type) ||\n  'default';\n\n// member_id: soporta las distintas formas del envelope/payload del backend.\nconst memberId =\n  (data.member && data.member.id) ||\n  data.member_id ||\n  body.member_id ||\n  (body.member && body.member.id) ||\n  null;\n\n// Mapa de eventos soportados -> mensaje proactivo seguro (sin PII).\nconst MESSAGES = {\n  'nutrition.missing':            { type: 'nutrition.missing',            title: 'Nutricion pendiente',            body: 'Aun no registras tus comidas de hoy. IRON IA puede ayudarte a ajustar tu dia.', action_route: '/iron-ai?focus=nutrition', priority: 'normal' },\n  'workout.missed':               { type: 'workout.missed',               title: 'Entrenamiento pendiente',        body: 'Hoy todavia puedes avanzar. IRON IA puede adaptar tu plan.',                      action_route: '/iron-ai?focus=training',  priority: 'normal' },\n  'membership.expiring':          { type: 'membership.expiring',          title: 'Tu membresia esta por vencer',   body: 'Revisa tu plan para no perder el acceso al gimnasio.',                            action_route: '/membership',              priority: 'high'   },\n  'streak.completed':             { type: 'streak.completed',             title: 'Racha completada',               body: 'Buen trabajo. IRON IA puede ayudarte a subir el siguiente nivel.',                action_route: '/iron-ai?focus=progress',  priority: 'normal' },\n  'evaluation.outdated':          { type: 'evaluation.outdated',          title: 'Actualiza tu evaluacion',        body: 'Tu progreso sera mas preciso si actualizas tus datos fisicos.',                   action_route: '/evaluation',              priority: 'normal' },\n  'progress.stalled':             { type: 'progress.stalled',             title: 'Revisemos tu progreso',          body: 'IRON IA puede ayudarte a ajustar entrenamiento y nutricion para volver a avanzar.', action_route: '/iron-ai?focus=progress', priority: 'normal' },\n  'iron_ai.weekly_summary_ready': { type: 'iron_ai.weekly_summary_ready', title: 'Tu resumen semanal esta listo',  body: 'IRON IA analizo tu semana y preparo recomendaciones para mejorar.',               action_route: '/iron-ai?focus=weekly',    priority: 'normal' }\n};\n\nconst baseUrl = ($env.LARAVEL_BASE_URL || '').replace(/\\/+$/, '');\nconst secret = $env.AUTOMATION_INTERNAL_SECRET || '';\nconst msg = MESSAGES[eventType];\n\n// Salida estandar para los casos \"skipped\" (no se llama a Laravel).\nfunction skipped(reason) {\n  return [{ json: {\n    ok: true,\n    received: true,\n    event_type: eventType,\n    member_id: memberId,\n    status: 'skipped',\n    skipped_reason: reason\n  } }];\n}\n\nif (!baseUrl)  { return skipped('no_base_url'); }\nif (!secret)   { return skipped('no_secret'); }\nif (!memberId) { return skipped('no_member'); }\nif (!msg)      { return skipped('unmapped_event'); }\n\n// Payload minimo aceptado por notify-member. event_type/source van dentro de\n// `payload` (metadata segura); el backend fuerza source='automation' aparte.\nconst outPayload = {\n  member_id: memberId,\n  type: msg.type,\n  title: msg.title,\n  body: msg.body,\n  action_route: msg.action_route,\n  priority: msg.priority,\n  payload: { event_type: eventType, source: 'n8n-automation-router' }\n};\n\nconst resp = await this.helpers.httpRequest({\n  method: 'POST',\n  url: baseUrl + '/api/internal/automation/notify-member',\n  headers: {\n    'Authorization': 'Bearer ' + secret,\n    'Content-Type': 'application/json'\n  },\n  body: outPayload,\n  json: true,\n  returnFullResponse: true,\n  ignoreHttpStatusErrors: true\n});\n\nconst code = resp.statusCode || 0;\nreturn [{ json: {\n  ok: code >= 200 && code < 300,\n  received: true,\n  event_type: eventType,\n  member_id: memberId,\n  status: 'sent',\n  laravel_status: code,\n  laravel: resp.body\n} }];\n"
      },
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Map + Notify Laravel",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        740,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Map + Notify Laravel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map + Notify Laravel": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
